<header id="header">
	<div id = site_title>
		<a id="header-logo" href="{{ "/" | absolute_url }}">
		<img src="{{ "./assets/img/logo.svg" | relative_url }}" alt="">
			<h1>{{site.main_title}}</h1>
		</a>
		{% if site.data.settings.subtitle.active %}
		<h2 class="subTitle">
			<span>{{ site.data.settings.subtitle.text1 }}</span>
			<span>{{ site.data.settings.subtitle.text2 }}</span>
		</h2>
		{% endif %}
	</div>

	<div id="subheader">
		{% if site.data.settings.nav.pages.active %}
		<nav class="pages">
			{%- include pages.html -%}
		</nav>
		{% endif %}
		{% if site.data.settings.nav.social.active %}
		<nav class="social">
			{% include social.html %}
		</nav>
		{% endif %}
	</div>
</header>