h1, h2, h3, h4, h5, h6{
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    a{
        text-decoration: none;
        color: black;
    }
}

p, ul, ol{
    li{
      font-size: 1.1rem;
    }
}
li{
    line-height: 1.8;
}
h1 {
    font-size: 2rem;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.4rem;
}
h5{
    font-size: 1.2rem;
}

p{
    font-size: 1.1rem;
}

//System stack for everything
body {
    font-family: 'Lato','Nanum Gothic', 'Poppins', sans-serif;
  }
.jua{
    font-family: 'Jua', sans-serif;
}